/*mobile*/

body {
    height: 1000px;
    font-family: verdana;
    background-color: black;
    color: white;
}
* {
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#date {
    text-align: center;
    font-size: 30px;
    margin: 0px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'route menu menu'
    'route rooms rooms';
  grid-gap: 30px;
  padding: 10px;
  height: 100%;
}
.grid-container > .menu , .route , .rooms {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  background-color: white; 
}

#rocket {
    width: 100%;
    animation-name: rocket;
    animation-duration: 4s;
    position: relative;
    bottom: 130px;
    margin: 0px auto;
}

@keyframes rocket {
    from {bottom: 20px;}
    to {bottom: 1000px;}
}

#vl {
    border-left: 10px dotted black;
    height: 99%;
    width: 10px;
    margin: 0px auto;
}

.menu {
    grid-area: menu;
}

.route {
    grid-area: route;
    height: 100%;
}

.rooms {
    grid-area: rooms;
}


/*tablet breakpoint*/

@media only screen and (min-width: 600px) {
    }
}
/*Laptop breakpoint*/
@media only screen and (min-width: 1000px) {
    
    
}
/*Desktop breakpoint*/
@media only screen and (min-width: 1500px) {
    
    
}