/*mobile*/
@media only screen and (min-width: 100px)
{
    
    html {
        height: 100%;
        position: fixed;
    }    
body {
    width: 100%;
    height: 100%;
    font-family: verdana;
    background-color: black;
    color: white;
    position: fixed;
} 
    
* {
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#date {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    color: red;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    'route menu menu'
    'route rooms rooms';
    grid-gap: 20px;
    height: 100%;
}
.grid-container > .menu , .route , .rooms {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background-color: white; 
  height: 100%;
}

#rocket {
    width: 50%;
    animation-name: rocket;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: 1;
    left: 35px;
    bottom: 0px;
}

@keyframes rocket {
    from {bottom: 50%; top: 100%;}
    to {bottom: 100%; top: 0%;}
}

#vl {
    border-left: 10px dotted black;
    height: 80%;
    width: 10px;
    margin: 0px auto;
    position: absolute;
    left: 65px;
    top: 50px;
}
    
#earth {
    width: 20%;
    position: absolute;
    left: 55px;
    }
#mars {
    width: 20%;
    position: absolute;
    left: 55px;
    bottom: 50px;
    }

hr {
    display: none;
    
}    
    
.menu {
    grid-area: menu;
}

.route {
    grid-area: route;
    position: relative;
}

.rooms {
    grid-area: rooms;
}
}

/*tablet breakpoint*/

@media only screen and (min-width: 600px) {
    
#date {
    color: pink;
}
}
/*Laptop breakpoint*/
@media only screen and (min-width: 800px) {
    
#date {
    color: blue;
}    
}
/*Desktop breakpoint*/
@media only screen and (min-width: 1100px) {
    
#date {
    color: aquamarine;
}    
.grid-container {
  grid-template-areas:
    'route route '
    'menu rooms ';
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr;
    }
#rocket {
    transform: rotate(90deg); 
    position: fixed;
    top: 45px;
    width: 15%;
    margin: 0px auto;
    animation-duration: 5s;
    }
#earth {
    width: 8%;
    left: 10px;
    position: absolute;
    top: 40px;
    }
    
#mars {
    width: 10%;
    right: 5px;
    position: absolute;
    top: 30px;
    left: auto;
    }
#vl {
    border-bottom: 10px dotted black;
    height: 10px;
    width: 80%;
    top: 15px;
    position: absolute;
    margin-top: 6%;
    margin-left: 120px;
    left: 0px;
    } 
    
@keyframes rocket {
    from {left: 0%; right: 100%;}
    to {left: 80%; right: 0%;}
}
}