/*mobile*/
@media only screen and (min-width: 100px)
{
    
    html {
        height: 100%;
        margin: 0px auto;
    }    
body {
    width: 100%;
    height: 100%;
    font-family: verdana;
    background-color: black;
    color: white;
    margin: 0px auto;
    position: fixed;
} 
    
* {
    box-sizing: border-box;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
#date {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    color: lightskyblue;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'route menu menu'
    'route rooms rooms';
    grid-gap: 20px;
    height: 100%;
    position: relative;
    width: 100%;
}
.grid-container > .menu , .route , .rooms {
      text-align: center;
      padding: 10px;
      font-size: 30px; 
      height: 100%;
      align-content: center;
}
.menu {
    background-color: white;  
    }

#rocket {
    animation-name: rocket;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: absolute;
    width: 15%;
    animation-timing-function:ease-out;
    left: 6%;
}

@keyframes rocket {
    0%  {bottom: 10%;}
    100% {bottom: 60%;}
}

#vl {
    border-left: 8px dotted white;
    height: 80%;
    width: 10px;
    top: 10%;
    bottom: 10%;
}
    
#line {
    position: fixed;
    align-self: center;
    animation-name: line;
    animation-duration: 5s;
    height: 80%;
    z-index: -1;
    }
#linedate {
    width: 100%;
    position: fixed;
    opacity: 0;
    }

    
#earth {
    width: 20%;
    position: fixed;
    align-self: flex-end;
    bottom: 1%;
       }
#mars {
    width: 20%;
    position: fixed;
    align-self: flex-start;
    justify-content: center;
    }

hr {
    display: none;
    
}    

.menu {
    grid-area: menu;
    background-color: transparent;
}

.route {
    grid-area: route;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 


    
.rooms {
  grid-area: rooms;
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
  position: fixed;
  top: -100px;
  width: 60%;
  height: 60%;
  left: 40%;
  top: 35%;;   
}
.grid-item-rooms {
  background-color: transparent;
  padding: 0px;
  font-size: 30px;
  text-align: center;
  margin: 5px;
    z-index: -1;
}
    
.grid-item-rooms:hover{
     transform: scale(1.25);
     z-index: 10;
     background-color: black;
     border: none;
    }

#content {
  opacity:1;
  width: 100%;
  height: 100%;
  z-index: 10; 
}

#content:active {
  opacity: 1;
}
 
#logo {
    position: inherit;
    width: 20%;
    left: 5%;
    top: 0;
    }    

#countup{
    
}
#countup p {
  display: inline-block;
  padding: 5px;
  margin: 0 0 20px;
  color: lightskyblue;
}

/*tablet breakpoint*/

@media only screen and (min-width: 520px) {

#line {
    
    }   
#rocket{
    width: 15%; 
    left: 8%;
    }
    
#date {
    color: lightskyblue;
}
}
/*Laptop breakpoint*/
@media only screen and (min-width: 1000px) {
 
    
#date {
    color: lightskyblue;
}    
    #rocket {
        width: 12%;
        left: 10%;
    }
}
/*Desktop breakpoint*/
@media only screen and (min-width: 1200px) {
    
#date {
    color: lightskyblue;
}    
.grid-container {
  grid-template-areas:
    'route route '
    'menu rooms ';
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 1fr ;
    margin: 0px auto;
    }
.route {
    flex-direction: column;
    }
.route img {
    transform: rotate(90deg);
    }
#rocket {
    width: 10%;
    top: -3%;
    }
#line {
    height: 120%;
    align-self: center;
    }

    
#mars {
    align-self: flex-end; 
    width: 15%;
    }
#earth {
    width: 15%;
    top: 4%;
    left: 0%;
    }

@keyframes rocket {
    0%  {left: 200px; top: -6%;}
    100% {top: -6%; left: 800px;}
}
.rooms {
    position: fixed;
    width: 45%;
    height: 45%;
    left: 50%;
    top: 40%;;
   
    }
    #logo {
        bottom: 0%;
        top: 60%;
        width: 40%;
    }
    }
}